@model List<Blog>

<div class="container mt-4">
    <h1 class="mb-4 text-center blog-title">Blogs</h1>
    @if (Model != null && Model.Count > 0)
    {
        <div class="blog-grid">
            @foreach (var blog in Model)
            {
                <div class="blog-card">
                    <h2 class="blog-title">@blog.Title</h2>
                    <p class="blog-content">@blog.Content.Substring(0, Math.Min(100, blog.Content.Length))...</p>
                    <a asp-controller="Home" asp-action="BlogContent" asp-route-id="@blog.ID" class="btn btn-primary">Read More</a>
                </div>
            }
        </div>
    }
    else
    {
        <p>No blogs have been added yet.</p>
    }

    <!--
         <div class="add-blog-container" onclick="location.href='@((User.Identity.IsAuthenticated) ? "/blogs/add" : "/Account/Login")'">
        <span class="add-blog-icon">&#43;</span>
        <span class="add-blog-text">Add Blog</span>
    </div>  -->
  
    <div class="add-blog-container" onclick="location.href='@Url.Action("AddBlog", "Home")'">
        <span class="add-blog-icon">&#43;</span>
        <span class="add-blog-text">Add Blog</span>
    </div>

</div>

<style>
    .blog-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
    }

    .blog-card {
        background-color: white;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        height: 100%;
        transition: transform 0.3s ease;
    }

    .blog-card:hover {
        transform: scale(1.05);
    }

    .blog-title {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .blog-content {
        color: #555;
    }

    .add-blog-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        padding: 20px;
        border: 2px dashed #ddd;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: bold;
    }

    .add-blog-container:hover {
        background-color: #f8f9fa;
    }

    .add-blog-icon {
        font-size: 3rem;
        margin-right: 10px;
        color: #000; 
    }

    .add-blog-text {
        font-size: 1.5rem;
        color: #000; 
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }
</style>
